<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <div class="main">
      <p>Vim Hooks</p>
      <table border="1" class="table">
        <tr>
          <th>Function</th>
          <th>Command</th>
        </tr>
        <tr>
          <td>Copy</td>
          <td>y</td>
        </tr>
      </table>
    </div>
  </body>
</html>